{% extends 'home/base.html' %} {% load static %} {% block meta %}
<title>Tips & Trick</title>
<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    .section-title-judul {
        background: #F0AD4E;
        border-radius: 9px;
        text-align: center;
        color: white;
        padding: 3px 8px;
        line-height: 50px;
        margin-bottom: 10px;
        margin-top: 30px;
        font-size: 24px;
    }
    
    .image {
        height: auto;
        width: 200px;
        padding-bottom: 50px;
    }
    
    .hobby-container {
        flex-direction: column;
        text-align: center;
        max-width: 100%;
        margin: 0 auto;
        padding: 100px 0;
        background-color: #ffffff;
    }
    
    .hobby-top {
        max-width: 300px;
        margin: 0 auto;
    }
    
    .hobby-bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 50px;
    }
    
    .hobby-item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 30px;
        border-radius: 10px;
        /* margin: 10px 5%; */
        position: relative;
        z-index: 1;
        overflow: hidden;
    }
    
    .name {
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        text-align: center;
    }
    /* .hobby-bottom .icon {
        height: 20px;
        width: 20px;
        margin-bottom: 20px;
    } */
    
    .hobby-item h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
        text-transform: uppercase;
    }
    
    .hobby-item p {
        color: black;
        text-align: center;
    }
    /* @media only screen and (min-width: 768px) {
        .section-title-judul {
            font-size: 16px;
        }
    } */
</style>

<section id="hobby">
    <div class="hobby-container">
        <div class="hobby-top">
            <h1 class="section-title-judul">KAPAN</h1>
        </div>
        <div class="hobby-bottom">
            <div class="hobby-item">
                <img src="{% static 'home/images/masker1.jpg' %}" class="image" />
                <div class="name">
                    <h2>Batuk / Bersin</h2>
                </div>
            </div>
            <div class="hobby-item">
                <img src="{% static 'home/images/masker2.jpg' %}" class="image" />
                <div class="name">
                    <h2>Merawat Pasian COVID-19</h2>
                </div>
            </div>
            <div class="hobby-item">
                <img src="{% static 'home/images/masker3.jpg' %}" class="image" />
                <div class="name">
                    <h2>Buang Masker</h2>
                </div>
            </div>
        </div>
        <div class="hobby-top">
            <h1 class="section-title-judul">BAGAIMANA</h1>
        </div>
        <div class="hobby-bottom">
            <div class="hobby-item">
                <img src="{% static 'home/images/cuci-tangan.jpg' %}" class="image" />
                <div class="name">
                    <h2>Membersihkan Tangan</h2>
                </div>
            </div>
            <div class="hobby-item">
                <img src="{% static 'home/images/cuci-tangan2.jpg' %}" class="image" />
                <div class="name">
                    <h2>Menutup Hidung & Mulut</h2>
                </div>
            </div>
            <div class="hobby-item">
                <img src="{% static 'home/images/cuci-tangan3.jpg' %}" class="image" />
                <div class="name">
                    <h2>Melepas Masker dari Belakang</h2>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}