{% extends 'home/base.html' %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row justify-content-center">
      <div class="col-8">
        <h2 class="featurette-heading"><b>Buat post baru</b></h2>
        <hr class="mt-0 mb-4">
        <form method='POST'>
            {% csrf_token %}
            {{ form.as_p }}
            <br>
           <button type="submit" class="btn btn-dark">Submit</button>
           <a class="btn btn-dark" href="../">Kembali</a>
        </form>
        <br>
      </div>
    </div>
  </div>
<br>

{% endblock %}