/* button navbar */
.button-login {
    transition: all 1s;
    margin: 5px;
    border-radius: 30px;
    border: 2px solid white;
    padding: 5px 30px !important;
    width: fit-content;
    color: white
}

.button-login:hover {
    background-color: #a8d2d6;
    text-decoration: none;
}

.button-signup {
    margin: 5px;
    border-radius: 30px;
    border: 2px;
    padding: 5px 30px !important;
    width: fit-content;
    color: white !important;
    background-color: #007D91;
    transition: all 1s;
}

.button-signup:hover {
    background-color: #a8d2d6;
    text-decoration: none;
}
/*  =========== */

.row h1 {
    font-size: 30px;
}


.container .btn.btn-atas {
    background-color: rgb(240, 173, 78);
    color: white;
    position: absolute;
    top: 85%;
    left: 85%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 18px;
    padding: 9px 36px;
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 30px;
    transition: 0.1s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

.container .btn.btn-atas:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
}    

.hr-rounded {
    border-top: 4px solid rgb(186, 184, 184);
    border-radius: 4px;
}

.row h2 {
    font-size: 30px;
}

#kotak1 {
    width: 600px;
    height: 870px;
    background-color: rgb(197, 227, 232);
    border-radius: 10px;
}

.embed-responsive iframe {
    padding-top: 30px;
}

#judulKomentar {
    background-color: rgb(240, 173, 78);
    color: white;
    border-radius: 5px;
    padding-top: 2px;
    padding-bottom: 4px;
    text-align: center;
    
}


#button2 {
    background-color: rgb(22, 99, 109);
    border: none;
    border-radius: 15px;
    font-size: 18px;
    padding: 9px 36px;
    transition: 0.1s;
}

#button2:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
}

.bg-color-kasus {
    background-color: rgb(239,244,244);
}

/* .p-2 b p {

} */

#jakarta {
    width: 100%;
    height: 150px;
    background-color: rgb(143, 181, 185);
    border-radius: 5px;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    margin-bottom: 30px;
}

#bogor {
    width: 100%;
    height: 150px;
    background-color: rgb(183, 210, 212);
    border-radius: 5px;
    color: rgb(80, 97, 98);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    margin-bottom: 30px;
}

#depok {
    width: 100%;
    height: 150px;
    background-color: rgb(218, 232, 234);
    border-radius: 5px;
    color: rgb(22, 99, 109);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    margin-bottom: 30px;
}

#tangerang {
    width: 100%;
    height: 150px;
    background-color: rgb(255, 219, 169);
    border-radius: 5px;
    color: rgb(144, 85, 0);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    margin-bottom: 30px;
}

#bekasi {
    width: 100%;
    height: 150px;
    background-color: rgb(255, 193, 104);
    border-radius: 5px;
    color: rgb(144, 85, 0);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    margin-bottom: 30px;
}

.d-flex .p-2 {
    font-size: 20px;
    text-align: center;
}

.d-flex .p-2 p {
    font-size: 60px;
}

.btn.btn-update {
    background-color: rgb(222, 152, 52);
    border: none;
    border-radius: 30px;
    font-size: 18px;
    padding: 9px 36px;
    transition: 0.1s;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

.btn.btn-update:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
}

.btn.btn-tambah {
    background-color: rgb(0, 87, 107);
    border: none;
    border-radius: 30px;
    font-size: 18px;
    padding: 9px 36px;
    transition: 0.1s;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

.btn.btn-tambah:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
}


@media (max-width: 1000px) { 
    #kotak1 {
        width: 200px;
        height: 550px;
    }

    .d-flex .p-2 {
        font-size: 17px;
        text-align: center;
    }

    .d-flex .p-2 p {
        font-size: 45px;
    }
}

@media (max-width: 600px) { 
    .row h1 {
        font-size: 18px;
    }

    .container .btn {
        font-size: 12px;
        padding: 7px 30px;
    }

    .row h2 {
        font-size: 18px;
    }

    #kotak1 {
        width: 200px;
        height: 425px;
        
    }

    .d-flex .p-2 {
        font-size: 14px;
        text-align: center;
    }

    .d-flex .p-2 p {
        font-size: 35px;
    }
}
