.button-login {
    transition: all 1s;
    margin: 5px;
    border-radius: 30px;
    border: 2px solid white;
    padding: 5px 30px !important;
    width: fit-content;
    color: white
}

.button-login:hover {
    background-color: #a8d2d6;
    text-decoration: none;
}

.button-signup {
    margin: 5px;
    border-radius: 30px;
    border: 2px;
    padding: 5px 30px !important;
    width: fit-content;
    color: white !important;
    background-color: #007D91;
    transition: all 1s;
}

.button-signup:hover {
    background-color: #a8d2d6;
    text-decoration: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.image {
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

p {
    color: black;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
}

.row {
    height: auto;
    /* width: 100%; */
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-6 {
    flex: 1;
    padding: 20px;
}

.col-6 h1 {
    font-size: 72px;
    position: relative;
    color: transparent;
}

.home-row {
    /* width: 100%; */
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.col-left {
    width: 50%;
}

.col-right {
    width: 50%;
}

.lindungi {
    font-size: 52px !important;
    font-family: Roboto;
    margin-top: 15px;
    color: black;
}

.lawan {
    font-size: 52px !important;
    font-family: Roboto;
    color: #007D91;
    font-weight: bold;
}

.ayo-bantu {
    color: #A19B9B;
    font-size: 20px;
    font-family: Roboto;
}

.lindungi {
    font-family: 'Roboto';
    color: black;
    font-size: 72px;
}

.tips-row {
    height: auto;
    /* width: 100%; */
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tips-col-left {
    width: 50%;
}

.tips-col-right {
    width: 35%;
}

.foto-masker {
    width: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}


/* Tips & Trick Section */

#tips-trick {
    background-color: #EFF4F4;
}

#tips-trick .image {
    height: fit-content;
}

.coba-guna {
    font-size: 18px;
}

.gunakan-masker {
    color: black;
    font-size: 40px;
}

.masker {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    background-color: #007D91;
    border-radius: 9px;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition-property: background-color, color;
    font-size: 12px;
}

.masker :hover {
    color: white;
    background-color: #78d0dd;
    text-decoration: none;
}

.div-donasi {
    text-align: center;
    margin: 80px;
}

.bantu {
    font-size: 28px !important;
}


/* End Tips & Trick Section */

.karusel {
    margin: auto;
    width: 50%;
}

.tombol-karusel {
    justify-content: center !important;
    display: inline-block;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    background-color: #F0AD4E;
    /* border: 2px solid rgb(187, 162, 130); */
    filter: drop-shadow(5px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition-property: background-color, color;
    font-size: 12px;
}

.tombol-karusel:hover {
    color: white;
    background-color: #eebe7a;
    text-decoration: none;
}


/* Donasi section */

#donasi {
    background: white;
}

.tombol {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 50px;
}


/* End Donasi Section */


/* Hobby Section */

#hobby {
    background-color: #007D91;
}

.hobby-container {
    flex-direction: column;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 100px 0;
    background-color: #FCF7F3;
}

.hobby-top {
    max-width: 500px;
    margin: 0 auto;
}

.hobby-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.hobby-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    /* margin: 10px 5%; */
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.name {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    text-align: center;
}

.hobby-bottom .icon {
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
}

.hobby-item h2 {
    font-size: 2rem;
    color: rgb(160, 120, 68);
    margin-bottom: 10px;
    text-transform: uppercase;
}

.hobby-item p {
    color: black;
    text-align: center;
}


/* End Hobby Section */


/* contact Section */

#contact {
    background: #DAE8EA;
}

#contact .contact {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}

.kontak {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
    align-items: center;
    margin: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 30px !important;
    padding-top: 30px !important;
}

#contact .contact-items {
    width: 400px;
}

#contact .section-title {
    color: black;
    font-size: 28px;
    text-align: center;
}

#contact .section-title span {
    color: #007D91;
}

#contact .contact-item {
    width: 80%;
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 18px 0 #0000002c;
    transition: .3s ease box-shadow;
}

#contact .contact-item:hover {
    box-shadow: 0px 0px 5px 0 #0000002c;
}

#contact .icon {
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}

#contact .contact-info h1 {
    font-size: 1.5rem !important;
    font-weight: 500 !important;
    margin-bottom: 5px !important;
}

#contact .contact-info h2 {
    font-size: 1rem !important;
    line-height: 1rem !important;
    font-weight: 500 !important;
}


/*End contact Section */


/* Footer */

#footer {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

#footer .footer {
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}

#footer h2 {
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer .social-icon {
    display: flex;
    margin-bottom: 30px;
}

#footer .social-item {
    height: 50px;
    width: 50px;
    margin: 0 5px;
}

#footer .social-item img {
    filter: grayscale(1);
    transition: .3s ease filter;
}

#footer .social-item:hover img {
    filter: grayscale(0);
}

#footer p {
    color: white;
    font-size: 1.3rem;
}


/* End Footer */

@media only screen and (max-width: 890px) {
    .home-row,
    .tips-row {
        justify-content: center;
        display: flex !important;
        flex-direction: column-reverse !important;
        margin: auto;
    }
    .col-left {
        font-size: 18px !important;
        text-align: center;
        width: 100%;
    }
    .col-right {
        width: 100%;
    }
    .tips-col-right {
        width: max-content;
    }
    .lindungi {
        /* margin: 10px; */
        width: 100% !important;
        font-size: 24px !important;
        text-align: center;
    }
    .lawan {
        /* margin: 10px; */
        width: 100% !important;
        font-size: 24px !important;
        text-align: center;
    }
    .ayo-bantu {
        font-size: 8px !important;
    }
    .foto-home {
        height: auto;
        width: 100%;
    }
    .button-login {
        margin-left: 0px;
    }
    .button-signup {
        margin-left: 0;
    }
}

.cta {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    background-color: #F0AD4E;
    /* border: 2px solid rgb(187, 162, 130); */
    filter: drop-shadow(5px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition-property: background-color, color;
    font-size: 12px;
    margin-bottom: 50px;
}

.foto-masker {
    height: 10%;
    width: auto;
}

.cta:hover {
    color: white;
    background-color: #eebe7a;
    text-decoration: none;
}

#footer {
    width: auto;
    height: fit-content;
    background: #62959A;
}

#footer .footer {
    flex-direction: column;
    /* padding-bottom: 5px; */
}

#footer h2 {
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    /* margin-top: 10px;
    margin-bottom: 30px; */
    text-align: center;
}

#footer .social-icon {
    display: flex;
    /* margin-bottom: 30px; */
    text-align: center;
    justify-content: center;
}

#footer .social-item {
    height: 50px;
    width: 50px;
    /* margin: 0 5px; */
}

#footer .social-item img {
    filter: grayscale(1);
    transition: .3s ease filter;
}

#footer .social-item:hover img {
    filter: grayscale(0);
}

#footer p {
    margin: auto;
    text-align: center;
    color: white;
    font-size: 1rem !important;
}


/* End Footer */


/* Media Query For Tablet */

@media only screen and (min-width: 768px) {
    .cta {
        padding: 15px 30px;
    }
    /* contact  */
    #contact .contact {
        flex-direction: column;
        padding: 50px 50px;
        align-items: center;
        justify-content: center;
        min-width: 20vh;
    }
    #contact .contact-items {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0;
    }
    #contact .contact-item {
        width: 30%;
        margin: 0;
        flex-direction: row;
    }
    #contact .contact-item .icon {
        height: 100px;
        width: 100px;
    }
    #contact .contact-item .icon img {
        object-fit: contain;
    }
    #contact .contact-item .contact-info {
        width: 100%;
        text-align: left;
        padding-left: 20px;
    }
    /* End contact  */
}

@media (max-width: 575.98px) {
    .hobby-bottom {
        flex-direction: column;
    }
}