<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
        <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/yourcode.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
    </head>
    
    <body class="bg-color-kasus">
        <nav class="navbar fixed-top navbar navbar-expand-lg navbar-dark" style="background-color:#62959A;">
            <a href="#" class="navbar-brand">
                <!-- Logo Image -->
                <img src="{% static 'home/images/virus-logo.png' %}" width="45" alt="" class="d-inline-block align-middle mr-2">
                <!-- Logo Text -->
                <span class="text-uppercase font-weight-bold">COVID<span style="color:#F0AD4E">-19</span></span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" style="justify-content: center;" id="navbarNavDropdown">
                <ul class="navbar-nav" style="margin: auto;">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home:index' %}">HOME <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home:tips-trick' %}">TIPS & TRICKS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home:index' %}">NEWS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">MAP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'forum:index' %}">DISCUSSION</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home:index' %}#contact">CONTACT</a>
                    </li>
                </ul>
                <div class="navbar-nav">
                    {% if not request.user.is_authenticated %}
                        <a href="{% url 'login:logging_in' %}" class="nav-item nav-link button-login">LOGIN</a>
                        <a href="{% url 'login:register' %}" class="nav-item nav-link button-signup">SIGN UP</a>
                    {% else %}
                        <a href="{% url 'login:logging_out' %}" class="nav-item nav-link button-signup">LOGOUT</a>
                    {% endif %}
                </div>
            </div>
        </nav>





        
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 style="text-align: center; margin-top: 100px;">JAKARTA</h3>
                </div>
            </div>
        </div>
        <div id="jakarta" class="d-flex align-items-center justify-content-around">
            <div class="p-2"><b>Confirmed Case <p>1029820</p></b></div>
            <div class="p-2"><b>Active Case <p>0013</p></b></div>
            <div class="p-2"><b>Cured Case <p>3123010</p></b></div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 style="text-align: center;">BOGOR</h3>
                </div>
            </div>
        </div>
        <div id="bogor" class="d-flex align-items-center justify-content-around">
            <div class="p-2"><b>Confirmed Case <p>0000000</p></b></div>
            <div class="p-2"><b>Active Case <p>0000</p></b></div>
            <div class="p-2"><b>Cured Case <p>000000</p></b></div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 style="text-align: center;">DEPOK</h3>
                </div>
            </div>
        </div>
        <div id="depok" class="d-flex align-items-center justify-content-around">
            <div class="p-2"><b>Confirmed Case <p>000000</p></b></div>
            <div class="p-2"><b>Active Case <p>0000</p></b></div>
            <div class="p-2"><b>Cured Case <p>000000</p></b></div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 style="text-align: center;">TANGERANG</h3>
                </div>
            </div>
        </div>
        <div id="tangerang" class="d-flex align-items-center justify-content-around">
            <div class="p-2"><b>Confirmed Case <p>14564</p></b></div>
            <div class="p-2"><b>Active Case <p>1231</p></b></div>
            <div class="p-2"><b>Cured Case <p>10000</p></b></div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 style="text-align: center;">BEKASI</h3>
                </div>
            </div>
        </div>
        <div id="bekasi" class="d-flex align-items-center justify-content-around">
            <div class="p-2"><b>Confirmed Case <p>14564</p></b></div>
            <div class="p-2"><b>Active Case <p>1231</p></b></div>
            <div class="p-2"><b>Cured Case <p>10000</p></b></div>
        </div>
        <div class="col-6">
            <form action='' method="POST">
                {% csrf_token %}
                {{ form2.as_p }}
            </form>
            <p style="margin-bottom: 40px;">*Fitur update dan tambah hanya dapat dilakukan oleh admin</p>  
        </div>
        <div class="container" style="margin-bottom: 50px;">
            <div class="row"> 
                <div class="col-3">
                    <div>
                        <input type="submit" class="btn btn-update" value="Update">
                    </div>
                </div>
                <div class="col-3">
                    <div>
                        <input type="submit" class="btn btn-tambah" value="Tambah">
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-copyright text-center py-3" style="background-color: #62959A;">Copyright © 2020 tk-ppw-06. All rights reserved</div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN " crossorigin="anonymous "></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q " crossorigin="anonymous "></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl " crossorigin="anonymous "></script>
    </body>
</html>